name: Java CI

on: [push, pull_request]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ 8 ]

    steps:
    - uses: actions/checkout@v6
      with:
        persist-credentials: false
    - name: Set up JDK ${{ matrix.java }}
      uses: actions/setup-java@v5
      with:
        distribution: temurin
        java-version: ${{ matrix.java }}
        cache: 'maven'
        # these values cause the plugin to set up the Maven settings.xml file
        server-id: central
        server-username: SONATYPE_USERNAME
        server-password: SONATYPE_PASSWORD
    - name: Get version
      run: echo "PROJECT_VERSION=$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout)" >> $GITHUB_ENV
    - name: Build
      run: mvn -V -B --no-transfer-progress install
    - name: Deploy SNAPSHOT
      # must run directly after 'Build'
      if: matrix.java == 8 && github.repository == 'aherbert/gdsc-ij-parent' && github.ref_name == 'master' && contains(env.PROJECT_VERSION, 'SNAPSHOT')
      env:
        SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
        SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
      run: >
        mvn -V -B --no-transfer-progress -Psnapshot-release deploy -Dgpg.skip
